body{
    margin: 0;
    background-color: #002638;
}

nav{
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    /*border: 6px crimson solid;*/
    width: auto;
}

#logo-img{
    width: auto;
    margin: 50px 50px;
    /*border: 1px dotted seagreen;*/
}

#container{
    padding: 1px;
    border:3px crimson solid;
    margin: 0 auto;

}

ul{

    padding: 1px;
    display: flex;
    /*border:3px dotted seagreen;*/
    width: auto;
    margin-left: auto;
    list-style-type: none;
    font-size: 20px;

}

li{
    display: flex;
    margin-left: 40px;
    margin-right: 20px;
    font-family: "Noto Sans";
    color: #202020;
}

li:hover{
    color: #fc672c;

    cursor: pointer;
}


#my-card{
    padding: 1px;
    display: flex;
    flex-direction: column;
    background-color: #faf9f9;
    width:400px;
    height: 500px;
    padding: 25px;
    margin: 50px 40px;
    border-radius: 30px;
    box-shadow: 5px 5px  50px #26262c;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#card-img{

    width: 60%;
    height: 50%;
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
    text-align: center;

}

#line{

    border-bottom: 2px solid rgba(189, 189, 189, 0.2);
    width: 200px;
    padding: 15px;
    margin: auto auto;
}

fa-star{
    height: 50px;
    color: yellow;
    width: 50px;
}


#ratings > i{

    padding: 10px;
    margin: auto auto;

}

#heart-comment{
    padding: 1px;
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin:  20px auto;
}