body{
    margin: 0;
    background-color: #264653;
}

nav{
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    /*border: 6px crimson solid;*/
    width: auto;
}

#arrow-left{
    position: absolute;
    bottom: 40%;
    left: 10%;
    display: flex;
    margin: 0 auto;
    color: #ffc857;
}

#arrow-left:hover{
    color: #6c987c;
    cursor: pointer;
}

#arrow-right:hover{
    color: #6c987c;
    cursor: pointer;
}

#arrow-left:active{
    color: darkslategrey;
}

#arrow-right:active{
    color: darkslategrey;
}


#arrow-right{
    position: absolute;
    bottom: 40%;
    right: 10%;
    display: flex;
    margin: 0 auto;
    color: #ffc857;
}

button{

    width: 100px;
    height: 60px;
    color: whitesmoke;
    background-color: seagreen;
    border-radius: 10px;
    border: 1px solid transparent;
}

button:hover{
    background-color: #3cb973;
    cursor: pointer;
}

button:active{
    background-color: #2b8352;
}

#logo-img{
    width: auto;
    margin: 50px 50px;
    /*border: 1px dotted seagreen;*/
}

#container{
    padding: 1px;
    border:3px crimson solid;
    margin: 0 auto;

}

ul{

    padding: 0 5%;
    display: flex;
    margin-left: auto;
    /*border:3px dotted seagreen;*/
    width: auto;
    list-style-type: none;
    font-size: 20px;

}

#my-icons{
    display: flex;
    justify-content: space-between;
    width: 80px;
    padding-left: 35px;
    align-items: center;
}

#my-icons:hover{
    color: #fc672c;
    cursor: pointer;
}

li{
    display: flex;
    margin-left: 40px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #202020;
    transition-duration: 200ms;
    font-size: 17px;
}

li:hover{
    color: #fc672c;
    text-decoration-line: underline;
    cursor: pointer;
}


#my-card{
    padding: 1px;
    display: flex;
    flex-direction: column;
    background-color: #faf9f9;
    width:360px;
    height: 500px;
    padding: 25px;
    padding-bottom: 5%;
    margin: 10px 15px;
    border-radius: 30px;
    box-shadow: 5px 5px  50px #26262c;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    transition-duration: 400ms;
}

#my-card:hover{
    width:400px;
    height: 550px;
}

#card-img{

    width: 70%;
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
    text-align: center;

}

#line{

    border-bottom: 2px solid rgba(189, 189, 189, 0.2);
    width: 200px;
    padding: 15px;
    margin: auto auto;
}

.change-color{
    color: rgba(255, 92, 60, 0.81);
    transition-duration: 200ms;
}

.change-color_2{
    color: #2a9d8f;
}
.change-color_2:hover{
    color: #02a805;
    cursor: pointer;
}

#yuk:hover{
    color: #d92e2e;
    cursor: pointer;
}

#yak:hover{
    color: #fcbf49;
    cursor: pointer;
}

.change-color:hover{
    cursor: pointer;
    color: #82c773;
}

.change-color:active{
    color: seagreen;
}

#ratings > i{

    padding: 15px;
    margin: auto auto;

}

#heart-comment{
    padding: 1px;
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin:  20px auto;
}





#form-container{
    display: flex;
    flex-direction: column;
    background-color: #2a9d8f;

    width: auto;
    padding: 50px;
    height: 720px;
}

#userReview-container-2{
    display: flex;
    flex-direction: column;
    background-color: #f5af36;
    width: auto;
    padding: 25px;
    height: 720px;
}

#form-box{
    border: 1px solid rgba(145, 196, 153, 0.56);
    background-color: white;
    width: 900px;
    height: 400px;
    margin: 80px auto auto auto;
    border-radius: 50px;

}

#userReview-box-2{
    text-align: center;
    padding-left: 40px;
    padding-top: 40px;
    border: 1px solid rgba(145, 196, 153, 0.56);
    background-color: white;

    width: 1600px;
    height: 800px;
    margin: 80px auto 150px auto;
    border-radius: 30px;

}

#user-review-text p{
    color: #2b2d42;
    width: 800px;
    margin: 0 auto;
    font-family: Roboto;

}

#user-review-text h2{
}

#submit-review-btn{

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 380px;
    margin-top: 20px;
    background-color: #639d6c;
    width: 120px;
    height: 40px;
}

#submit-review-btn:hover{
    background-color: #2b8352;
}

#review-form{
    display: flex;
    flex-direction: column;

}

#review-title{
    padding: 1px;
    font-family: 'Montserrat', sans-serif;
    width:500px;
    margin: 55px auto 20px auto;
    border-radius: 3px;
    height: 30px;
    font-size: 18px;
    border: rgba(131, 131, 131, 0.21) inset 1px;

}

#review-text{
    width: 500px;
    height: 200px;
    border-radius: 5px;
    padding:1px;
    margin: 0 auto;
    font-size: 22px;
    border:1px outset rgba(192, 192, 192, 0.52);
    resize: none;
    font-family: 'Montserrat', sans-serif;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(128, 143, 133, 0.84);
}
